@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "rule";
//메인
.main-banner{background-color: #000; height:100vh; padding:calcRem(96rem) calcRem(60rem) calcRem(64rem); box-sizing: border-box;
    $this:&;
    &__wrap{position:relative; height:100%;}
    &__tit{position:absolute; top:0; left:0; right:0; height:calcRem(60rem); margin:0; text-align: center; z-index:110; @include body2; color:#fff; line-height: calcRem(60rem);}
    &__list{height:100%; margin:0; padding:0; list-style:none; text-align: center;}
    &__item{position:relative; height:100%;}
    &__box{position: absolute; top:50%; left:50%; transform: translate(-50%,-50%); z-index:100; text-align:center;}
    &__img{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:100%;}
    &__tit{position:absolute; }
    &__first,&__last{color:$yellow; @include h1; text-transform: uppercase;}
    &__last{white-space: nowrap;}
    &__crop{overflow:hidden; position: relative; height:100%;}
    &__number{position:absolute; z-index:110; @include h4(); 	 color:$black;
        &.type-current{top:calcRem(46rem); left:calcRem(-25rem); writing-mode: vertical-lr; transform: rotate(180deg); text-shadow: -1px 0 $yellow, 0 1px $yellow, 1px 0 $yellow, 0 -1px $yellow;}
        &.type-total{bottom:calcRem(46rem); right:calcRem(-25rem); writing-mode: vertical-lr; text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
            #{$this}__bar:after{border-bottom-color:$white;}
        }
    }
    &__bar{position:relative; display:block; min-width:calcRem(6rem);
        &:after{display:block; position:absolute; right:0; bottom:calcRem(-26rem); width:calcRem(40rem); height:0; border-bottom:2px solid $yellow; transform: rotate(90deg); content:'';}
    }
    &__pagination{margin-top:calcRem(16rem); text-align:center; font-size:0;
        .swiper-pagination-bullet{width:calcRem(8rem); height:calcRem(8rem); border-radius:50%; border:1px solid #666; opacity:1;
            &.swiper-pagination-bullet-active{background:$yellow; border-color:$yellow}
            & + .swiper-pagination-bullet{margin-left:calcRem(8rem);}
        }
    }
}